.App-logo {
  height: 120px;
  width: 120px;
}
/*
Styles for Header Menu 
*/
header{
  padding-top: 12px;
  padding-bottom: 12px;
 background-color: #24292e;
  display: flex;
  justify-content: space-around;
}
header img{
  height: 120px;
  width: 120px;
}
ul{
  display: flex; 
  padding-left: 10px;
  margin-left: 10px;
}
a.active{
  background-color: hsla(0,0%,100%,0.75);;
  border-radius: 25%;
  color: #24292e;
  padding: 5px;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: hsla(0,0%,100%,0.75);
}
a.active:hover{
  color: black;
}
li{
  padding-left: 25px;
  list-style-type: none;
  font-size: 1.6em;
}

